.homeusers{
    width: 98vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeusers__heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeusers__title{
    font-size: 36px;
    color: #1a1a1a;
    letter-spacing: .4px;
    text-align: center;
    margin-bottom: 15px;
}

.homeusers__linesegment{
    width: 60px;
    height: 5px;
    border: 1px #1a1a1a;
    background: #1a1a1a;
}

.homeusers__articles{
    margin-top: 100px;
    display: flex;
    margin-bottom: 100px;
}

.press__link{
    text-decoration: none;
    color: #5367ff;
}

.press__linkdiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow{
    color: #5367ff !important;
    margin-top: 5px !important;
}